
    <h1 class="text-center">Not found</h1>
    <img src="/static/images/not-found.avif" class="img-fluid" alt="...">
    <div class="d-flex justify-content-center gap-3">
    <a href="/" class="btn btn-success">users panel</a>
    <a href="/login" class="btn btn-primary">login</a>
</div>
